{% extends "propose_join/base.html" %}

{% block body %}

<h2 class="article-title ml-2">EXINSTING IIITS CLUBS</h2>
    {% for club in clubs %}
    <div class="content-section">
            <div class="media">
              <img class="rounded-circle account-img" src="{{ club.club_logo.url }}">
              <div class="media-body">
                <h2 class="account-heading">{{ club.club_name }}</h2>
                <p class="text-secondary">{{ club.club_info }}</p>
            </div>
    </div>
    </div>
    {% endfor %}

{% endblock %}